/*
 * This stylesheet is applied after the theme's default one,
 * and thus any overrides or additions can be added here.
 *
 * More info:
 *     http://sphinx-doc.org/extdev/appapi.html?highlight=add_stylesheet#sphinx.application.Sphinx.add_stylesheet
 *     https://github.com/snide/sphinx_rtd_theme/issues/117#issuecomment-41571653
 */

h5 {margin-bottom: 5px}

/* sidebar menu links */
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {background: #c0c0c0}
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {background: #b5b5b5}
.wy-menu-vertical li.toctree-l4 {font-size: 1em}
.wy-menu-vertical li.current a {border: 0}
.wy-side-nav-search > a:hover {background: none; opacity: 0.9}
.wy-side-nav-search > a.icon::before {content: none}

/* kbd role */
.kbd.docutils.literal {
	font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
	font-size: 85%;
	font-weight: normal;
	color: #404040;
}

/* Ensure background of input fields is light color even when a local theme wants it to be dark */
input[type="text"], input[type="search"], input[type="password"],
input[type="email"], input[type="url"],
input[type="date"], input[type="month"], input[type="week"], input[type="time"],
input[type="datetime"], input[type="datetime-local"],
input[type="number"], input[type="tel"], input[type="color"] {
	background-color:#FCFCFC;
}

/* fixes overlay of "align-right" images on block */
.rst-content .admonition {overflow: auto}

/*boxed paragraphs*/
.rst-content .refbox .admonition-title {background-color: #bbb}
.rst-content .refbox {
	-webkit-font-smoothing: antialiased;
	background-color: #e3e3e3;
	line-height: 24px;
	margin-bottom: 24px; padding: 12px;
}
.rst-content .seealso .admonition-title {background-color: #7a87e6}
.rst-content .seealso {background-color: #e7ebfa}
.rst-content .important .admonition-title {background-color: #ddca3b}
.rst-content .important {background-color: #f6f3a5}

/* refbox =, seealso ( > ), note ( i ), tip i , hint (+), warn / ! \ */
.refbox .admonition-title::before {content:"\f00b"}
.seealso .admonition-title::before{content:"\f138"}
.note .admonition-title::before{content:"\f05a"}
.tip .admonition-title::before{content:"\f129"; width: 0.75em; text-align: center}
.hint .admonition-title::before{content:"\f055"}
.warning .admonition-title::before{content:"\f071"}

/* refbox field */
.refbox .field-list .field-name, .refbox .field-list .field-body {
	padding: 0px;
}
.refbox .field-name {font-weight: normal}

/* Ugly 'red' literals */
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
	color:#404040;
}

/* TABLE & FIGURE */

/* moves captions to bottom */
table {caption-side: bottom}

/* captions text style */
.rst-content .figure .caption,
.rst-content table.docutils caption,
.rst-content table.field-list caption {
	font: italic 90%/18px Lato, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
	color: #808080;
}

/* captions top padding */
.rst-content .figure .caption { margin-top: 4px; }
.rst-content table.docutils caption { padding: 0.5em; }

/* text word wrap */
.wy-table-responsive table td,
.wy-table-responsive table th { white-space: normal; }

/* cell's vertical align */
/* use "valign" class for middle align */
.rst-content table.docutils:not(.valign) td { vertical-align: baseline; }

/* field list align */
.rst-content table.field-list td { padding-top: 8px; }

/* permalink to table, hide until hover */
.rst-content table.docutils caption .headerlink { visibility: hidden; }
.rst-content table.docutils caption:hover .headerlink { visibility: visible; }

/* table header cells border color */
.rst-content table.docutils th { border-color: #e1e4e5; }

/* figure in table margin */
.rst-content td div.figure {
	margin-top: 4px; margin-bottom: 0;
}

/* figure legend */
.legend {
	font-size: 90%;
	color: #484848;
	margin-top: -20px;
}
.rst-content dl .legend { margin-top: -10px; }

@media screen and (max-width: 768px){

	.wy-table-responsive table:not(.footnote) { min-width: 520px; }
	.rst-content table.docutils caption { text-align: left; }
	img { width: auto; }

}

/* end TABLE & FIGURE */

/* proper seal navigation buttons; jumping on resize */
.rst-footer-buttons::before , .rst-footer-buttons::after{
	width: 100%;
}

/*video center*/
iframe {
	display: block;
	margin: 0 auto 24px auto;
}

/*copyright font scale down*/
footer p{ font-size: smaller}

/*download link (zip)*/
.download span {color: #2980B9; font-weight: normal; cursor: pointer !important}
.download span:hover {color:#3091d1}
.download span:visited {color:#9B59B6}
.download span:first-child::before {color:#4e4a4a}

/* breadcrumbs "Docs" and "View page source" to icons */
.wy-breadcrumbs {
	position: relative;
	padding-right: 30px;
}
.wy-breadcrumbs-aside a {
	position: absolute;
	top: 2px;
	right: 0;
}
.wy-breadcrumbs-aside a,
.wy-breadcrumbs li:first-child a {
	line-height: 0;
	font-size: 0;
}
.wy-breadcrumbs-aside a::before {
	content: "\f121";
	font: 16px/1 FontAwesome;
	padding: 0 4px 0 8px;
}
.wy-breadcrumbs li:first-child a::before {
	content: "\f015";
	font: 16px/1 FontAwesome;
}
.wy-breadcrumbs-aside a:hover::after {
	content: "View page source";
	position: absolute;
	bottom: -6px;
	right: 0;
	font-size: 13px;
	color: gray;
	white-space: nowrap;
}

/* spacing bugfix */
.wy-breadcrumbs li a:first-child{padding:5px}
.wy-breadcrumbs li:first-child a{padding-left:0}
.wy-breadcrumbs li:nth-last-child(2){padding-left:5px}

/* blockquote > dl bugfix */
.rst-content dl{line-height:normal}
/* multi-paragraph dl bugfix */
.rst-content dl p{line-height:inherit}

/* quotes for Fig. "link" */
a[href^="#fig-"]::before {content: "\201c";}
a[href^="#fig-"]::after {content: "\201d";}

/*intermediate headline*/
.rubric {font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif}

/*.. container:: lead , block text float around image*/
.lead {
	clear: both; width: 100%;
}

/*mark external links*/
a.external {color:#656AE0;}
/*white list blender.org as internal*/
.external[href^="https://www.blender.org"], .external[href^="https://docs.blender.org"], .external[href^="https://wiki.blender.org"] {
	color:#2980B9;
}

/* draws a box around menuselection role */
/* temporary fix for theme(0.2.5b2) bug: no box around kbd role */
.menuselection, .kbd.docutils.literal {
	font-size: 90%;
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0.65);
	border: solid #E1E4E5 1px;
	white-space: nowrap;
	padding: 2px 5px;
}
@media screen and (max-width: 420px) {
	.menuselection {white-space: normal}
}
.caption .menuselection {
	background-color: transparent;
	border: none;
}
.caption .kbd {background-color: transparent}

/*remove indent on line break*/
.rst-content .line-block {margin-left:0px}

/*applied on main index:sections*/
/*start section description*/
@media screen and (min-width: 450px){
.tocdescr {
	display: flex; display: -webkit-flex;
	flex-flow: row wrap; -webkit-flex-flow: row wrap;
	justify-content: space-between; -webkit-justify-content: space-between;
	align-items: flex-start; -webkit-align-items: flex-start;
	align-content: flex-start; -webkit-align-content: flex-start;
	list-style-type: none;
	margin-bottom: 10px;
}
/*Dan Andreasson on Stack Overflow*/
.tocdescr:after {
	content: "";
	flex: 1 0 33.3%; -webkit-flex: 1 0 33.3%;
	margin-left: 45px;
	align-self: stretch; -webkit-align-self: stretch;
}
}
@media screen and (max-width: 450px) {
.tocdescr {
	display: flex; display: -webkit-flex;
	flex-flow: column wrap; -webkit-flex-flow: column wrap;
	justify-content: space-between; -webkit-justify-content: space-between;
	align-items: flex-start; -webkit-align-items: flex-start;
	align-content: flex-start; -webkit-align-content: flex-start;
	list-style-type: none;
	margin-bottom: 10px;
}
.tocdescr:after {
	content: "";
	flex: none; -webkit-flex: none;
}
}
.descr {
	flex: 2 0 33.3%; -webkit-flex: 2 0 33.3%;
	margin: 15px; padding: 0px;
	transition: width 0.7s ease-out; -webkit-transition: width 0.7s ease-out;
}
.descr div.figure{margin-bottom: 18px}
.descr dl {margin-bottom: 10px}
.descr dl dt > a {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.descr dl dt a em, .descr dl dt a span{
	font-weight: normal;
	font-style: normal;
}
.descr dl dd{
	font-style: normal;
	margin: 0px; padding: 0px;
}
.descr .figure img{
	box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: box-shadow 0.33s;
}
.descr .figure img:hover{box-shadow: none}

/*end section description*/

/*start custom toctree*/
.toctree-wrapper .toctree-l1 > a {margin-bottom: 0.15em}
/*indent all lines following the first*/
.toctree-wrapper * a {
	display: block;
	width: 90%;
	text-indent: -1em;
	margin-left: 1em;/*invert indent*/
	padding-top: 0.25em;
	line-height: 1.25em;
}
/*underline provided by nested ul (not li)*/
.toctree-wrapper * ul {
	padding-left: 2em;
	border-top: solid #ececec 1px;
}
.toctree-wrapper > ul {margin-left: 1em}
.rst-content .toctree-wrapper ul li ul {
	margin-bottom: 0.75em;
	padding-top: 0.5em;
}
.rst-content .toctree-wrapper ul li a:hover {color: #25afef}
.rst-content .toctree-wrapper ul li a:visited:hover {color: #C961DA}
.toctree-wrapper .toctree-l1 > a{font-size: 104%} .toctree-wrapper .toctree-l2 > a{font-size: 102%} .toctree-wrapper	.toctree-l3 > a{font-size: 100%}
.toctree-wrapper .toctree-l1 > ul{border-color: #bfbfbf} .toctree-wrapper .toctree-l2 > ul{border-color: #e1e0e0} .toctree-wrapper  .toctree-l3 > ul{border-color: #ececec}
/*remove list styling, css rule hierarchy*/
.rst-content .toctree-wrapper ul li, .rst-content .toctree-wrapper ul li li , .rst-content .toctree-wrapper ul li li li {
	list-style-type: none;
	margin-left: 0px;
}
/*end custom toctree*/

/*start genindex consistency*/
.genindextable * strong {font-weight: normal}
.genindex-jumpbox {margin-bottom: 1.245em}
.indextable {margin-bottom: 1.245em}
/*end genindex consistency*/

/*start version*/
/*Override RTD theme*/
.rst-versions {
	border-top: 0px;
	overflow: visible;
}
.version-btn.vdeact {
	cursor: default;
	color: dimgray;
}
.version-btn.vdeact::after {
	content: "";
}
#versionwrap {
	display: block;
	padding: 2px 0px 30px;
	font-size: 90%;
}
.version-btn, .version-btn-open {
	position: relative;
	display: inline-block;
	background-color: #272525;
	width: 140px;
	text-align: center;
	padding: 3px 10px;
	margin: 0 5px;
	vertical-align: middle;
	z-index: 400;
	transition: border-color 0.4s;
}
.version-btn {
	color: #27AE60;
	border: solid 1px #444444;
	border-radius: 3px;
	cursor: pointer;
}
.version-btn::after {
	content:"\f0d8";
	display: inline;
	font: normal normal normal 16px/1 FontAwesome;
	color: #8d8c8c;
	vertical-align: top;
	padding-left: 0.5em;
}
.version-btn:hover, .version-btn:focus {
	border-color: #525252;
}
.version-btn-open {
	border-style: solid;
	color: gray;
	border-width: 1px;
	border-color: transparent gray gray gray;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
}
.version-btn.wait {
	cursor: wait;
}
.version-btn.disabled {
	cursor: not-allowed;
	color: dimgray;
}
.version-list {
	display: none;
	position: absolute;
	bottom: 28px;
	width: 140px;
	margin: 0 5px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #000C;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: gray;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0 0 6px #000C;
	z-index: 399;
	max-height: calc(100vh - 30px);
	overflow-y: auto;
}
.version-list a, .version-list span, .version-list li {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 1.15;
	width: 100%;
	margin: 0;
	padding: 4px 0px;
	color: #404040;
}
.version-list li {
	background-color: #ede9e9;
	color: #404040;
	padding: 1px;
}
.version-list li:hover, .version-list li a:focus {
	background-color: #b9cfda;
}
.version-list li.selected, .version-list li.selected:hover {
	background-color: #8d8c8c;
}
.version-list li.selected span {
	cursor: default;
	outline-color: red;
}
/*end version*/

/* start Sphinx 2.0 fixes */
.rst-content .admonition > :last-child {margin-bottom: 0}
.rst-content .document dl dt {
	display: block;
	margin: 0;
	line-height: normal;
	font-size: 100%;
	background: transparent !important;
	color: inherit !important;
	border: none !important;
	padding: 0px;
}
.rst-content dl.field-list {
	display: grid;
	grid-template-columns: minmax(min-content,max-content) auto;
	column-gap: 20px;
	row-gap: 5px;
}
.rst-content dl.field-list dt {
	grid-column-start: 1;
	grid-column-end: 2;
	line-height: 24px;
	font-size: 90%;
}
.rst-content dl.field-list dt:after {
	content: ":";
	display: inline;
}
.rst-content dl.field-list dd {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 0;
}
.rst-content dl.field-list dd > p {
	font-size: 90%;
	margin: 0 !important;
}
.refbox dl dt {font-weight: normal}
/* end Sphinx 2.0 fixes */



/* REAL CUSTOM STUFF */
.wy-side-nav-search > a img.logo { width: 200px; }

